@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

h1,p{
	font-family: 'Raleway', sans-serif;
}

h1{
	/* 이렇게 따로 줄수도 있지만 font 속성으로 한번에 가능
	font-style: italic; */
	font: italic bold 30px 'Raleway', sans-serif;
}
p{
	font-weight: 600;
}

#right{
	text-align : right;
}
#middle{
	text-align : center;
}
#left{
	text-align : left;
}

div{
	background: skyblue;
}
div>p{
	width : 50%;
	background: pink;
}
.left{
	text-align: left;
}
.justify{
	text-align:justify;
}

/*property*/
p{
	font-size: 18px;
}

.line-height_none{
	background: skyblue;
}
.line-height_numb{
	background:pink;
	line-height:2;
}
.all{
	background : lemonchiffon;
	line-height:25px;
	letter-spacing : 5px;
	text-indent:16px;
}